@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom1 {
    background-color: #1F2C33;
  }

.bg-custom2 {
    background-color: rgb(31, 44, 51);
}
  
.bg-custom3 {
      background-color: rgb(16, 27, 33);
    }

.bg-custom4{
  background-color: rgb(33, 46, 56);
}

.bg-customInput{
  background-color: rgb(40, 57, 65);
}
 
/* In your CSS file or in your React component's style block */
.circular-image {
    width: 40px; /* Set the width */
    height: 40px; /* Set the height */
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Hide overflowing parts */
  }
  
  .image2 img, .circular-image img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Cover the container, cropping as needed */
  }
  
  .search-icon {
    color: rgba(255, 255, 255, 0.5); /* White with 50% transparency */
  }

  .custom-border {
    border-color: rgba(255, 255, 255, 0.1); /* White with 50% transparency */
  }
  
  .customTextarea {
    min-height: 20px !important;
    padding: 8px;
    
  }
  
  .customTextarea:focus {
    outline: none;
    border: none; /* Optional, remove border change on focus */
    box-shadow: none; /* Optional, remove shadow on focus */
  }
  



  /*scroll bar*/
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  /* background-color: transparent; */ /* This line is unnecessary */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(34,46,53, 0.5);
  
}

/* Define scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}

/* Define scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent; /* Background color of the scrollbar corner */
}

/* Define scrollbar grip (not supported in Firefox) */
::-webkit-scrollbar-grip {
  background: yellow; /* Color of the scrollbar grip */
}

/* ::-webkit-scrollbar-button:start:decrement {
  background: url("data:image/svg+xml,%3Csvg fill='rgba(255, 255, 255, 0.5)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 0L0 12h8.97L7.97 20 20 8h-8.97L12.03 0z'/%3E%3C/svg%3E");
}

/* Down button */
/* ::-webkit-scrollbar-button:end:increment { */
  /* background: url("data:image/svg+xml,%3Csvg fill='rgba(255, 255, 255, 0.5)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M0 0h8.97l2.03 8H20L10 20l-1.97-8H0V0z'/%3E%3C/svg%3E"); */
/* } */ 
